[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
attrs = "==19.3.0"
beautifulsoup4 = "==4.9.0"
bs4 = "==0.0.1"
certifi = "==2020.4.5.1"
chardet = "==3.0.4"
click = "==7.1.1"
flasgger = "==0.9.4"
idna = "==2.9"
importlib-metadata = "==1.6.0"
itsdangerous = "==1.1.0"
jsonschema = "==3.2.0"
mistune = "==0.8.4"
numpy = "==1.18.2"
pandas = "==1.0.3"
pyrsistent = "==0.16.0"
python-dateutil = "==2.8.1"
pytz = "==2019.3"
requests = "==2.23.0"
selenium = "==3.141.0"
six = "==1.14.0"
soupsieve = "==2.0"
urllib3 = "==1.25.8"
zipp = "==3.1.0"
Flask = "==1.1.2"
Jinja2 = "==2.11.2"
MarkupSafe = "==1.1.1"
PyYAML = "==5.3.1"
Werkzeug = "==1.0.1"
peewee = "*"
dateparser = "*"
pymysql = "*"
lxml = "*"

[requires]
python_version = "3.7"
